.nav {
    overflow: hidden;
}
.nav a {
    float: center;
    color: #444337;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    height:500px;
    font-family: courier;
}

body { 
    background-color: #CAD8D7;
}

.h1{
    margin-top: 50px;
    font-family: courier;
    color: white;
}

.h2{
    margin-top: 200px;
    font-family: courier;
    color:white;
}

.h3{
    margin-top: 240px;
    font-family: courier;
    color:white;
}
